<div class="container">

  <h1 class="text-center mb-5">Blog</h1>

  <% if @articles.empty? %>
    <p>There are no articles yet.</p>
  <% else %>
    <div class="article-card-container">
      <% @articles.each do |article| %>
        <%= link_to article_path(article) do  %>
          <div class="article-card">
            <div class="left-side">
              <%= cl_image_tag article.photo.key %>
            </div>
            <div class="right-side">
              <h2><%= article.title %></h2>
              <p class="responsive-hidden"><%= article.description %></p>
              <p class="responsive-hidden">by <%= article.user.first_name %> on <%= article.created_at.strftime("%b %d, %Y") %> </p>
            </div>
            <p class="learn-more">Learn more</p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if user_signed_in? && current_user.admin? %>
    <hr>
    <%= link_to "New article", new_article_path, class: 'btn btn-primary' %>
  <% end %>

</div>
