<div class="container">
  <div class="article-header">
    <div class="left-side">
      <%= cl_image_tag @article.photo.key %>
    </div>
    <div class="right-side">
      <h1><%= @article.title %></h1>
      <p><%= @article.description %></p>
    </div>
  </div>

  <%= @article.rich_body %>
  <hr>

  <%= link_to "Back", articles_path, class: 'btn btn-secondary' %>


  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Edit article", edit_article_path(@article), class: 'btn btn-primary ml-5' %>
    <%= link_to "Delete article", article_path(@article),
                                  class: 'btn btn-danger ml-2',
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %>
  <% end %>

</div>
