<div class="container">
  <h1 class="text-center">The French School</h1>
  <h2 class="text-center">For motivated learners who want to progress</h2>
  <h2 class="text-center mt-4">MAY - JULY 2021</h2>

  <div class="box-fs-container mt-5">
    <div class="box-fs" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1609751364867-ea05342563b7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3151&q=80');">
      <h3>What is it?</h3>
      <p>A trimester of french group courses according to your level. It allows you to increase your level of French. 
      We work on all aspects of the language: grammar, vocabulary, written and oral expression skills, and comprehension also.</p>
      <p>In addition, French culture is an important element that we talk about a lot during the classes. We use a textbook to have a good progression.</p>
      <p>Some tests and homework will help to improve, become aware of your abilities and track your progress.</p>
    </div>
    
    <div class="box-fs" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1471623320832-752e8bbf8413?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2149&q=80');">
      <h3>Perfect for you if...</h3>
      <ul>
        <li>You are really passionated about French</li>
        <li>You really want to improve your French skills or start to learn it</li>
        <li>You are tired of learning French from videos or apps</li>
        <li>You can't find native and certified teachers next to you</li>
        <li>You are benevolent and kind and want to learn in a friendly atmosphere</li>
      </ul>
    </div>
    
    <div class="box-fs" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<%= image_path('home_nelly.jpg') %>');">
      <h3>I am Nelly, your French teacher!</h3>
      <%= link_to "Learn more", about_me_path %>
    </div>
  </div>

  <h2 class="text-center my-5">Modalities</h2>
  <ul>
    <li>Collective courses (max 10 seats)</li>
    <li>1:30 hour every week</li>
    <li>Follow the program with the book Edito of your level (separated purchase)</li>
    <li>Fixed price for 3 months: <span style="font-size: 32px; font-weight: bold; color: #3a429f;">only 159.90 euros</span></li>
  </ul>
  
  <div class="levelbox-container mt-5">
    <div class="levelbox text-left">
      <h2>Objectif A1</h2>
      <h2>At the end, you will know how to:</h2>
      <ul>
        <li>Introduce yourself and someone else</li>
        <li>Ask and answer simple questions</li>
        <li>Communicate in a simple way</li>
        <li>Describe places or people you know</li>
        <li>Write a postcard</li>
        <li>Speak in the present and past tense</li>
        <li>Understand simple French</li>
      </ul>
      <h3>Day/time TBC</h3>
      <h3>Required book: EDITO A1</h3>
    </div>

    <%= image_tag "edito_a1.png", alt: "Edito A1", class: 'edito-picture' %>
    
    <div class="levelbox text-left">
      <h2>Objectif A2</h2>
      <h2>At the end, you will know how to:</h2>
      <ul>
        <li>Understand frequent expressions and vocabulary</li>
        <li>Talk about yourself, your family, your work...</li>
        <li>Understand short and simple texts, advertisements, emails</li>
        <li>Give and collect information (address, phone number)</li>
        <li>Give and ask for advice</li>
        <li>Express yourself in the past tense, tell about an event</li>
      </ul>
      <h3>Day/time TBC</h3>
      <h3>Required book: EDITO A2</h3>
    </div>

    <%= image_tag "edito_a2.png", alt: "Edito A2", class: 'edito-picture' %>

    <div class="levelbox text-left">
      <h2>Objectif B1</h2>
      <h2>At the end, you will know how to:</h2>
      <ul>
        <li>Understand TV and radio programs</li>
        <li>Express your feelings</li>
        <li>Speak French during a trip</li>
        <li>Tell about your experiences</li>
        <li>Explain your opinion</li>
      </ul>
      <h3>Day/time TBC</h3>
      <h3>Required book: EDITO B1</h3>
    </div>

    <%= image_tag "edito_b1.png", alt: "Edito B1", class: 'edito-picture' %>

    <div class="levelbox text-left">
      <h2>Objectif B2</h2>
      <h2>At the end, you will know how to:</h2>
      <ul>
        <li>Be more independent in a variety of situations</li>
        <li>Be able to communicate with a fair degree of spontaneity and fluency</li>
        <li>Be able to understand current affairs television programs more easily</li>
        <li>Understand most movies in standard French</li>
        <li>Understand most contemporary literary text</li>
        <li>Communicate normally with a native speaker</li>
        <li>Present and defund your opinions</li>
        <li>Write about topics related to your interests</li>
        <li>Write official letters</li>
      </ul>
      <h3>Day/time TBC</h3>
      <h3>Required book: EDITO B2</h3>
    </div>

      <%= image_tag "edito_b2.png", alt: "Edito B2", class: 'edito-picture' %>
  </div>

  <hr>
  <div class="text-center">
    <h2 class="my-4">Book my seat (pre-registrations)</h2>
    <%= link_to "I want to join", "https://docs.google.com/forms/d/e/1FAIpQLSeOsZIqEgB8fK1w7lTE0bCFod8haE9xoDEd_wmNU4BCBoKnjQ/viewform?fbclid=IwAR3E6ZOs6Yajetxii3yVf4htu6Ow5uBxJYdc_TbB-PgG4Q0g414m43vcfIM", class: 'btn-main' %>
    <p class="mt-5">Deadline: April 15th. Fill the form by clicking above to book your seat.</p>
    <p>NB: Classes will begin if there are at least 5 students per group. Payment will be made after the confirmation of your class.</p>
  </div>
</div>
