<!-- Banner -->
<!--
<div class="banner" style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<%= image_path "poster.jpg" %>');">
  <div class="container text-center">
    <h1>A NEW WAY TO PRACTICE FRENCH</span></h1>
    <p class="mb-5">Join our community of <%= User.count %> learners</p>
    <%= link_to "Free trial", "mailto:contact@thefrenchcloud.com?subject=Free%20trial%20request&body=Hello,%0dI%20would%20like%20to%20participate%20to%20the%20next%20conversation%20session%20as%20part%20of%20the%20free%20trial.", class: 'btn-main' %>
  </div>
</div>
-->
<!-- The French School -->
<div class="banner" style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1609751351848-1da0b4379d68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3134&q=80');">
  <div class="container text-center">
    <h1>THE FRENCH SCHOOL</h1>
    <p class="mb-5">Upgrade your level of French</p>
    <%= link_to "Learn more", french_school_path, class: 'btn-main' %>
  </div>
</div>

<!-- Conversation sessions -->
<div class="banner" style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1612831457048-9823ce1ebb6e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80');">
  <div class="container text-center">
    <h1>CONVERSATION SESSIONS</h1>
    <p class="mb-5">Practice your oral French every week</p>
    <%= link_to "Learn more", plans_path, class: 'btn-main' %>
  </div>
</div>

<!-- Why join the club -->
<div class="background-colored mb-5">
  <div class="container">
    <h2>Why join the club?</h2>
    <div class="key-selling-points">
      <div class="ksp">
        <%= image_tag "humanity.png", alt: "community", width: 125 %>
        <p>A community of motivated and friendly French learners from all around the world</p>
      </div>
      <div class="ksp">
        <%= image_tag "teacher.png", alt: "certified teachers", width: 125 %>
        <p>Certified French teachers to answer all your questions, suggest exercises and correct your mistakes</p>
      </div>
      <div class="ksp">
        <%= image_tag "conversation.png", alt: "conversation sessions", width: 125 %>
        <p>Online conversation sessions every week in small groups of level lead by teachers</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container my-5">
  <div class="what-is-it-grid">
    <div class="left-side-grid responsive-hidden">
      <%= image_tag "photositenelly.png", style: 'height: 300px; object-fit: cover;' %>
    </div>
    <div class="right-side-grid">
      <h2 class="mb-3">Who am I?</h2>
      <p>My name is Nelly, I am a French teacher graduated from the Université de Paris.</p>
      <p>By creating the French Cloud, I wanted to create a safe place where we can put aside our apprehensions to learn and progress together.
      No judgment, no pressure, but a lot of mutual help and kindness.</p>
      <%= link_to "Learn more", about_me_path, class: 'btn-alternate' %>
    </div>
  </div>
</div>

<br>

  <!-- Carousel -->
<div class="background-colored mt-5">
  <div class="container">
    <h2 class="mb-4">They improved their French with us</h2>
    <div id="carouselExampleSlidesOnly" class="carousel slide text-center" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="7000">
            <p><em>
              "I am glad that I found this group with Nelly, it has been very helpful.
              I am grateful to Nelly for being so patient; bringing materials and resources that will benefit us.
              I am happy to add The French Cloud to my french journey!"
            </em>
            <br>
            <strong>
              Maia, USA, 27 years old, level of French A2
            </strong></p>
          </div>
          <div class="carousel-item" data-interval="7000">
              <p>
              <em>
                “I really like this group because we learn by communicating live with other persons and correct each other when we are wrong.
                Also it's fun to understand and memorize words or structures in context (either movies, music or books)“
              </em>
              <br>
              <strong>
                Alex, Romania, 24 years old, level of French B1
              </strong>
            </p>
          </div>
          <div class="carousel-item" data-interval="7000">
            <p>
              <em>
                “I'm glad I found this club.
                It is really helpful to improve your french.
                Our teacher Nelly is wonderful and really patient with us.
                Also, we come to know people of different cultures from different parts of the world!
                Everyone, including our teacher, is really friendly here."
              </em>
              <br>
              <strong>
                Ankan, India, 19 years old, level of French A2/B1
              </strong>
            </p>
          </div>
        </div>
      </div>
  </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Read the testimonials", testimonials_path, class: 'btn-alternate' %>
    </div>
</div>

<!-- Newsletter subscription -->
<div class="container text-center my-5">
  <h2 class="mb-4">Subscribe to my newsletter</h2>
  
  <form action="/newsletter" method="POST">
    <div class="row g-3 align-items-center justify-content-center">
      <div class="col-6">
        <input type="email" placeholder="Your email" name="email" class="form-control" required>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn-main">Subscribe</button>
      </div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </div>
  </form>
</div>
