<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4051&q=80);">
  <div class="container">
    <h1>Welcome to the <strong>French Club</strong>!</h1>
    <p>Join our community of <%= User.count %> French learners</p>
  </div>
</div>

<div class="container my-5">
  <h2>Why join the club?</h2>
  <div class="key-selling-points">
    <div class="ksp">
      <%= image_tag "humanity.png", alt: "community", width: 125 %>
      <p>A community of motivated and friendly French learners from all around the world</p>
    </div>
    <div class="ksp">
      <%= image_tag "teacher.png", alt: "certified teachers", width: 125 %>
      <p>Certified French teachers to answer all your questions, suggest exercises, correct your mistakes and lead conversations sessions</p>
    </div>
    <div class="ksp">
      <%= image_tag "conversation.png", alt: "conversation sessions", width: 125 %>
      <p>Conversation sessions every week in small groups of level, oral & written comprehension and expression</p>
    </div>
  </div>

  <h2>Pricing</h2>
  <div class="plan-cards-container mt-4">
    <% Plan.all.each do |plan| %>
      <%= render 'shared/plan-card', plan: plan %>
    <% end %>
  </div>
</div>

