<!-- The French School -->
<!--
<div class="banner" style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1609751351848-1da0b4379d68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3134&q=80');">
  <div class="container text-center">
    <h1><strong>NEW:</strong> THE FRENCH SCHOOL</h1>
    <p class="mb-5">Upgrade your level of French</p>
    <%#= link_to "Learn more", french_school_path, class: 'btn-main' %>
  </div>
</div>
-->

<!-- Conversation sessions -->
<div class="banner" style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1612831457048-9823ce1ebb6e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80');">
  <div class="container text-center">
    <h1>CONVERSATION SESSIONS</h1>
    <p class="mb-5">Practice your oral French every week</p>
    <%= link_to "Learn more", plans_path, class: 'btn-main' %>
    <p class="mt-3"><strong>⚠️ Registrations currently closed. Opening July 1st. ⚠️</strong></p>
  </div>
</div>

<!-- Why join the club -->
<div class="background-colored mb-5">
  <div class="container">
    <h2>Why join the club?</h2>
    <div class="key-selling-points">
      <div class="ksp">
        <%= image_tag "humanity.png", alt: "community", width: 125 %>
        <p>A community of motivated and friendly French learners from all around the world</p>
      </div>
      <div class="ksp">
        <%= image_tag "teacher.png", alt: "certified teachers", width: 125 %>
        <p>Certified French teachers to answer all your questions, suggest exercises and correct your mistakes</p>
      </div>
      <div class="ksp">
        <%= image_tag "conversation.png", alt: "conversation sessions", width: 125 %>
        <p>Online conversation sessions every week in small groups of level lead by teachers</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container my-5">
  <div class="what-is-it-grid">
    <div class="left-side-grid responsive-hidden">
      <%= image_tag "nellypascrop.jpg", style: 'height: 300px; object-fit: cover;' %>
    </div>
    <div class="right-side-grid">
      <h2 class="mb-3">Who am I?</h2>
      <p>My name is Nelly, I am a French teacher graduated from the Université de Paris.</p>
      <p>By creating the French Cloud, I wanted to create a safe place where we can put aside our apprehensions to learn and progress together.
      No judgment, no pressure, but a lot of mutual help and kindness.</p>
      <%= link_to "Learn more", about_me_path, class: 'btn-alternate' %>
    </div>
  </div>
</div>

<br>

  <!-- Carousel -->
<div class="background-colored mt-5">
  <div class="container">
    <h2 class="mb-4">They improved their French with us</h2>
    <div id="carouselExampleSlidesOnly" class="carousel slide text-center" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="7000">
            <p><em>
              "I am glad that I found this group with Nelly, it has been very helpful.
              I am grateful to Nelly for being so patient; bringing materials and resources that will benefit us.
              I am happy to add The French Cloud to my french journey!"
            </em>
            <br>
            <strong>
              Maia, USA, 27 years old, level of French A2
            </strong></p>
          </div>
          <div class="carousel-item" data-interval="7000">
              <p>
              <em>
                “I really like this group because we learn by communicating live with other persons and correct each other when we are wrong.
                Also it's fun to understand and memorize words or structures in context (either movies, music or books)“
              </em>
              <br>
              <strong>
                Alex, Romania, 24 years old, level of French B1
              </strong>
            </p>
          </div>
          <div class="carousel-item" data-interval="7000">
            <p>
              <em>
                “I'm glad I found this club.
                It is really helpful to improve your french.
                Our teacher Nelly is wonderful and really patient with us.
                Also, we come to know people of different cultures from different parts of the world!
                Everyone, including our teacher, is really friendly here."
              </em>
              <br>
              <strong>
                Ankan, India, 19 years old, level of French A2/B1
              </strong>
            </p>
          </div>
        </div>
      </div>
  </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Read the testimonials", testimonials_path, class: 'btn-alternate' %>
    </div>
</div>

<!-- Newsletter subscription -->
<!--
<div class="background-colored">
  <div class="container text-center">
    <h2 class="mb-4">Subscribe to my newsletter</h2>
    <p>Find tips to learn French, French news, club news, and more!</p>
    <form action="/newsletter" method="POST">
      <div class="row g-3 align-items-center justify-content-center">
        <div class="col-6">
          <input type="email" placeholder="Your email" name="email" class="form-control" required>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn-main">Subscribe</button>
        </div>
        <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </div>
    </form>
  </div>
</div>
-->

<%= content_for :head do %>
  <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
<% end %>

<div class="sib-form text-center">
  <div id="sib-form-container" class="sib-form-container">
    <div id="error-message" class="sib-form-message-panel container" style="font-size:16px; text-align:left; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
      <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
        <svg viewBox="0 0 512 512" class="sib-icon sib-notification__icon">
          <path d="M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-11.49 120h22.979c6.823 0 12.274 5.682 11.99 12.5l-7 168c-.268 6.428-5.556 11.5-11.99 11.5h-8.979c-6.433 0-11.722-5.073-11.99-11.5l-7-168c-.283-6.818 5.167-12.5 11.99-12.5zM256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28z"
          />
        </svg>
        <span class="sib-form-message-panel__inner-text">the information is not correct</span>
      </div>
    </div>
    <div></div>
    <div id="success-message" class="sib-form-message-panel container" style="font-size:16px; text-align:left; color:#085229; background-color:#e7faf0; border-radius:3px; border-color:#13ce66;">
      <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
        <svg viewBox="0 0 512 512" class="sib-icon sib-notification__icon">
          <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z"
          />
        </svg>
        <span class="sib-form-message-panel__inner-text">You have subscribed successfully to the newsletter.</span>
      </div>
    </div>
    <div></div>
    <div id="sib-container" class="sib-container--large sib-container--vertical container">
      <form id="sib-form" method="POST" action="https://522794e0.sibforms.com/serve/MUIEAEpYmM01ed8rZVxuvuxTT4MYdD8Rnoc0NoifzawjaHJr1ijdWIAIGbfAWnsc9-KmfRp-2nVOJLH8yxdCgeA0opO8OiqXSrZQfjkq2ryyOxZ3Ns1vkIGB4iEv59Res3m_gJrRDY4kV9__3idtDOV5x4CQuQNbwyt7_UOauVS9Rbgo5F7yEOHW5nTbwL0Li0VZ7nfLpFV_PEjE"
        data-type="subscription">
        <div style="padding: 8px 0;">
          <h2>Subscribe to my newsletter</h2>
        </div>
        <div style="padding: 8px 0;">
          <p class="text-center">Subscribe to my newsletter to receive exclusive content in French &amp; tips to improve your french</p>
        </div>
        <div style="padding: 8px 0;">
          <div class="sib-input sib-form-block">
            <div class="form__entry entry_block">
              <div class="form__label-row ">
                <label class="entry__label" style="font-size:16px; text-align:left; font-weight:700; color:#3c4858;" for="EMAIL" data-required="*">
                  EMAIL
                </label>
                <div class="entry__field">
                  <input class="input" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true" required />
                </div>
              </div>
              <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
              </label>
              <label class="entry__specification" style="font-size:12px; text-align:left; color:#8390A4;">
                Please enter your email address.
              </label>
            </div>
          </div>
        </div>
        <div style="padding: 8px 0;">
          <div class="sib-input sib-form-block">
            <div class="form__entry entry_block">
              <div class="form__label-row ">
                <label class="entry__label" style="font-size:16px; text-align:left; font-weight:700; color:#3c4858;" for="PRENOM" data-required="*">
                  FIRST NAME
                </label>
                <div class="entry__field">
                  <input class="input" maxlength="200" type="text" id="PRENOM" name="PRENOM" autocomplete="off" placeholder="PRENOM" data-required="true" required />
                </div>
              </div>
              <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
              </label>
              <label class="entry__specification" style="font-size:12px; text-align:left; color:#8390A4;">
                Please enter your first name.
              </label>
            </div>
          </div>
        </div>
        <div style="padding: 8px 0;">
          <div class="sib-input sib-form-block">
            <div class="form__entry entry_block">
              <div class="form__label-row ">
                <label class="entry__label" style="font-size:16px; text-align:left; font-weight:700; color:#3c4858;" for="NIVEAU">
                  FRENCH LEVEL (A1, A2, B1, B2, C1, C2)
                </label>
                <div class="entry__field">
                  <input class="input" maxlength="200" type="text" id="NIVEAU" name="NIVEAU" autocomplete="off" placeholder="NIVEAU" />
                </div>
              </div>
              <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
              </label>
              <label class="entry__specification" style="font-size:12px; text-align:left; color:#8390A4;">
                Please indicate your level of fluency in French (A1: beginner -> C2: bilingual).
              </label>
            </div>
          </div>
        </div>
        <div style="padding: 8px 0;">
          <div class="sib-form-block" style="text-align: left">
            <button class="sib-form-block__button sib-form-block__button-with-loader btn-alternate" style="font-size:16px; font-weight:700; color:#FFFFFF; background-color:#3E4857; border-radius:3px; border-width:0px;"
              form="sib-form" type="submit">
              <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512">
                <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z"
                />
              </svg>
              I want to receive the newsletter
            </button>
          </div>
        </div>
        <input type="text" name="email_address_check" value="" class="input--hidden">
        <input type="hidden" name="locale" value="fr">
      </form>
    </div>
  </div>
</div>

<!-- Spotify podcast -->
<div class="background-colored">
  <div class="container">
    <h2 class="mb-4">Listen to my podcast</h2>
    <iframe src="https://open.spotify.com/embed-podcast/show/1Sz3z8bjp4iGbieIpUs2qJ" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>

<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'You must choose a country code.';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Please check the field format and try again.";
  window.REQUIRED_ERROR_MESSAGE = "You must fill in this field. ";
  window.GENERIC_INVALID_MESSAGE = "Please check the field format and try again.";
  window.translation = {
    common: {
      selectedList: '{quantity} selected list',
      selectedLists: '{quantity} selected lists'
    }
  };
  var AUTOHIDE = Boolean(0);
</script>
<script src="https://sibforms.com/forms/end-form/build/main.js"></script>
