<h2 class="lead mb-4">Complétez les phrases ci-dessous avec la bonne conjugaison.</h2>

<p>J'
<input type="text" name="étais" placeholder="être" value="<%= params["étais"]%>" required>
<span class="wrong"><%= params["étais"] == "étais" ? "✅" : "❌ (#{"étais"})" unless params["étais"].nil? %>
</span>
à la terrasse d'un restaurant pris du jardin du Luxembourg.

Il
<input type="text" name="faisait" placeholder="faire" value="<%= params["faisait"]%>" required>
<span class="wrong">
<%= params["faisait"] == "faisait" ? "✅" : "❌ (#{"faisait"})" unless params["faisait"].nil? %>
</span>
très froid, mais il y avait un beau soleil.</p>

<p>J'
<input type="text" name="attendais" placeholder="attendre" value="<%= params["attendais"]%>" required>
<span class="wrong">
<%= params["attendais"] == "attendais" ? "✅" : "❌ (#{"attendais"})" unless params["attendais"].nil? %>
</span>
ma mère, je
<input type="text" name="regardais" placeholder="regarder" value="<%= params["regardais"]%>" required>
<span class="wrong">
<%= params["regardais"] == "regardais" ? "✅" : "❌ (#{"regardais"})" unless params["regardais"].nil? %>
</span>
les passants. Il n'y
<input type="text" name="avait" placeholder="avoir" value="<%= params["avait"]%>" required>
<span class="wrong">
<%= params["avait"] == "avait" ? "✅" : "❌ (#{"avait"})" unless params["avait"].nil? %>
</span>
pas beaucoup de monde, c'était un dimanche de novembre.</p>

<p>Soudain, j'
<input type="text" name="ai remarqué" placeholder="remarquer" value="<%= params["ai remarqué"]%>" required>
<span class="wrong">
<%= params["ai remarqué"] == "ai remarqué" ? "✅" : "❌ (#{"ai remarqué"})" unless params["ai remarqué"].nil? %>
</span>
un homme sur le trottoir d'en face.</p>

<p>Il
<input type="text" name="était" placeholder="être" value="<%= params["était"]%>" required>
<span class="wrong">
<%= params["était"] == "était" ? "✅" : "❌ (#{"était"})" unless params["était"].nil? %>
</span>
grand, pâle, il
<input type="text" name="semblait" placeholder="sembler" value="<%= params["semblait"]%>" required>
<span class="wrong">
<%= params["semblait"] == "semblait" ? "✅" : "❌ (#{"semblait"})" unless params["semblait"].nil? %>
</span>
fatigué. Tout à coup, une voiture s'
<input type="text" name="est arrêtée" placeholder="arrêter" value="<%= params["est arrêtée"]%>" required>
<span class="wrong">
<%= params["est arrêtée"] == "est arrêtée" ? "✅" : "❌ (#{"est arrêtée"})" unless params["est arrêtée"].nil? %>
</span>
devant lui. Une femme
<input type="text" name="est sortie" placeholder="sortir" value="<%= params["est sortie"]%>" required>
<span class="wrong">
<%= params["est sortie"] == "est sortie" ? "✅" : "❌ (#{"est sortie"})" unless params["est sortie"].nil? %>
</span>
. Elle
<input type="text" name="portait" placeholder="porter" value="<%= params["portait"]%>" required>
<span class="wrong">
<%= params["portait"] == "portait" ? "✅" : "❌ (#{"portait"})" unless params["portait"].nil? %>
</span>
une petite valise.</p>

<p>Elle
<input type="text" name="a donné" placeholder="donner" value="<%= params["a donné"]%>" required>
<span class="wrong">
<%= params["a donné"] == "a donné" ? "✅" : "❌ (#{"a donné"})" unless params["a donné"].nil? %>
</span>
la valise à l'homme, puis elle
<input type="text" name="est repartie" placeholder="repartir" value="<%= params["est repartie"]%>" required>
<span class="wrong">
<%= params["est repartie"] == "est repartie" ? "✅" : "❌ (#{"est repartie"})" unless params["est repartie"].nil? %>
</span>
immédiatement. Ma mère
<input type="text" name="est arrivée" placeholder="arriver" value="<%= params["est arrivée"]%>" required>
<span class="wrong">
<%= params["est arrivée"] == "est arrivée" ? "✅" : "❌ (#{"est arrivée"})" unless params["est arrivée"].nil? %>
</span>
, elle m'
<input type="text" name="a embrassé" placeholder="embrasser" value="<%= params["a embrassé"]%>" required>
<span class="wrong">
<%= params["a embrassé"] == "a embrassé" ? "✅" : "❌ (#{"a embrassé"})" unless params["a embrassé"].nil? %>
</span>
et s'
<input type="text" name="est assise" placeholder="asseoir" value="<%= params["est assise"]%>" required>
<span class="wrong">
<%= params["est assise"] == "est assise" ? "✅" : "❌ (#{"est assise"})" unless params["est assise"].nil? %>
</span>
à côté de moi. Quand j'
<input type="text" name="ai tourné" placeholder="tourner" value="<%= params["ai tourné"]%>" required>
<span class="wrong">
<%= params["ai tourné"] == "ai tourné" ? "✅" : "❌ (#{"ai tourné"})" unless params["ai tourné"].nil? %>
</span>
la tête, l'homme n'était plus là.</p>
