<div class="container">
  <h1 class="text-center mb-5">Lessons</h1>
  <h2 class="text-center mt-5 mb-4">Grammar (<%= @grammarlessons.size %>)</h2>
  <% if @grammarlessons.empty? %>
    <p class="text-center">There is no grammar lessons available yet.</p>
  <% else %>
    <div class="usercard-container">
      <% @grammarlessons.each do |lesson| %>
        <%= link_to lesson_path(lesson) do  %>
          <div class="lesson-card">
            <div class="lesson-card-left">
              <h1><%= lesson.title %></h1>
              <p><%= lesson.description_en.truncate(100) %></p>
            </div>
            <div class="lesson-card-right">
              <span class="badge badge-primary" style="position: absolute; top: 15px; right: 15px"><%= lesson.level %></span>
              <div class="dot" style="position: absolute; top: 16px; right: 45px; background-color: <%= lesson.color %>"></div>
              <strong style="position: absolute; bottom: 15px; right: 15px">Learn more</strong>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <h2 class="text-center mt-5 mb-4">Verbal tenses (<%= @verballessons.size %>)</h2>
  <% if @verballessons.empty? %>
    <p class="text-center">There is no verbal tenses lessons available yet.</p>
  <% else %>
    <div class="usercard-container">
      <% @verballessons.each do |lesson| %>
        <%= link_to lesson_path(lesson) do  %>
          <div class="lesson-card">
            <div class="lesson-card-left">
              <h1><%= lesson.title %></h1>
              <p style="width: 75%"><%= lesson.description_en.truncate(100) %></p>
            </div>
            <div class="lesson-card-right">
              <span class="badge badge-primary" style="position: absolute; top: 15px; right: 15px"><%= lesson.level %></span>
              <div class="dot" style="position: absolute; top: 16px; right: 45px; background-color: <%= lesson.color %>"></div>
              <strong style="position: absolute; bottom: 15px; right: 15px">Learn more</strong>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <h2 class="text-center mt-5 mb-4">Vocabulary & dialogue (<%= @voclessons.size %>)</h2>
  <% if @voclessons.empty? %>
    <p class="text-center">There is no vocabulary and dialogue lessons available yet.</p>
  <% else %>
    <div class="usercard-container">
      <% @voclessons.each do |lesson| %>
        <%= link_to lesson_path(lesson) do  %>
          <div class="lesson-card">
            <div class="lesson-card-left">
              <h1><%= lesson.title %></h1>
              <p><%= lesson.description_en.truncate(125) %></p>
            </div>
            <div class="lesson-card-right">
              <span class="badge badge-primary" style="position: absolute; top: 15px; right: 15px"><%= lesson.level %></span>
              <div class="dot" style="position: absolute; top: 16px; right: 45px; background-color: <%= lesson.color %>"></div>
              <strong style="position: absolute; bottom: 15px; right: 15px">Learn more</strong>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
