<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1 class="mb-3">Billing information</h1>

      <div class="my-2">
        <h2>Subscription</h2>
        <ul>
          <li>Plan: <%= @plan.name %></li>
          <li>Price: <%= humanized_money_with_symbol(@plan.price) %><span>/month</span></li>
          <li>Start date: <%= Time.at(@subscription.start_date).strftime("%A, %d %b %Y %l:%M %p") %></li>
          <li>Billing card: <%= @default_payment_method["card"]["brand"].capitalize %>****<%= @default_payment_method["card"]["last4"] %> <em>(exp <%= @default_payment_method["card"]["exp_month"] %>/<%= @default_payment_method["card"]["exp_year"] %>)</em></li>
        </ul>
      </div>

      <div class="my-2">
        <h2>Cards (<%= @cards.size %>) </h2>
        <ul>
          <% @cards.each do |card| %>
            <li>
              <%= card["card"]["brand"].capitalize %>****<%= card["card"]["last4"] %> <em>(exp <%= card["card"]["exp_month"] %>/<%= card["card"]["exp_year"] %>)</em>
              <%= form_tag subscription_change_payment_method_path do %>
                <%= hidden_field_tag 'card_id', card["id"] %>
                <%= submit_tag 'Change to this card', class: 'btn btn-primary', data: { confirm: "Are you sure to switch billing to this card? (***#{card["card"]["last4"]})" } %>
              <% end %>
            </li>
          <% end %>
        </ul>

        <button id="pay" class="btn btn-primary">Add a new card</button>
      </div>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @session.checkout_session_id %>'
          });
        });
      </script>

    </div>
  </div>
</div>
