<div class="container">
  <h1><%= @plan.name %></h1>
  <% out = "<ul>" %>
  <% @plan.description.split('- ')[1..-1].each {|s| out += ("<li>" + s.to_s + "</li>")} %>
  <% out += "</ul>" %>
  <%= out.html_safe %>
  <h2><%= humanized_money_with_symbol(@plan.price) %><span>/month</span></h2>

  <%= form_tag checkouts_path do %>
    <%= hidden_field_tag 'plan_id', @plan.id %>
    <%= submit_tag 'Subscribe', class: 'btn btn-primary' %>
  <% end %>
</div>
