<div class="container">
  <div class="lesson-showcard">
    <h1 class="text-center">Exercise correction: <%= @exercise.title %></h1>
    <h2 class="mb-4">Your score: <%= @score %></h2>
    <%= render "exercises/content/#{@exercise.sku}" %>
    <hr>
    <%= link_to "Try again", :back, class: 'btn btn-info' %>
    <%= link_to "Back to exercises", exercises_path, class: 'btn-alternate' %>

    <% if @exercise.lesson %>
      <%= link_to "View lesson", lesson_path(@exercise.lesson), class: 'btn-main' %>
    <% end %>
  </div>
</div>
