<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-5"><%= @exercise.title %></h1>
    <%= render "exercises/content/#{@exercise.sku}" %>
    <h2 class="my-5">Questions</h2>
    <div class="text-left">
      <% @exercise.questions.each do |question| %>
        <%= question.prompt %>
        <ol>
          <% question.answers.shuffle.each do |answer| %>
            <li class="<%= "good-answer" if answer.is_correct %>"><%= answer.content %></li>
          <% end %>
        </ol>
      <% end %>
    </div>
    <div class="btn btn-primary" id="reveal-answers">Show answers</div>
    <%#= link_to "Show answers", "#", class: "btn btn-primary", id: "reveal-answers" %>
  </div>
</div>

